@import "leaflet/dist/leaflet";
@import 'react-leaflet-markercluster/dist/styles'; // sass
 
// 1. Your custom variables and variable overwrites.
$global-font-family: Open Sans, sans-serif;
$global-primary-background: #ff7847;
$global-tertiary-background: #00aab6;
$text-default-color: white;
$global-font-size: 15px;
$navbar-nav-item-height: 70px;
$offcanvas-bar-color-mode: dark;
.leaflet-top,
.leaflet-bottom {
    z-index: 979
}

.leaflet-control-layers-toggle {
    background-image: url('/images/layers.png')
}

.uk-text-default {
    color: $text-default-color !important
}

.uk-text-tertiary {
    color: $global-tertiary-background !important
}

.uk-background-tertiary {
    background-color: $global-tertiary-background !important
}

.uk-text-bold {
    font-weight: 600 !important
}

.uk-table tbody tr:hover {
    background-color: #F2FBFB !important
}

.uk-list-striped>li:nth-of-type(odd) {
    background: #f1f8f7 !important
}

.rc-slider-disabled {
    height: 12px !important;
    .rc-slider-handle-1 {
        left: 2%
    }
    .rc-slider-handle-2 {
        left: 98%
    }
}

.box-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.8em;
}

table .uk-width-small {
    min-width: 150px
}

table .uk-width-medium {
    min-width: 300px
}

table .uk-width-large {
    min-width: 450px
}

b {
    font-weight: 600 !important
}

#navbar {
    left: 0 !important
}

/* .mycluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
} */


.scientificName{
  font-style: italic;
}

.uk-maximo-20{
  height: 20px;
}

.uk-offcanvas-bar2{
    width: 350px;
    overflow-y: auto;
}

.uk-text-upper-little{
  font-size: 0.8rem;
}


// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
.width-small {
    width: calc(100vw - $offcanvas-bar-width);
    margin-left: $offcanvas-bar-width;
    transition: margin-left 0.3s ease-out !important;
}

@media (min-width: $breakpoint-medium) {
    .width-small {
        width: calc(100vw - $offcanvas-bar-width-m);
        margin-left: $offcanvas-bar-width-m;
        transition: transform 0.3s ease-out;
    }
}

// 3. Your custom mixin overwrites.
@mixin hook-offcanvas-overlay() {
    z-index: 1000
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
}


// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


.overlay{
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.overlay h2 {
    max-width: 500px;
    text-align: center;
}

.uk-sticky-fixed {
    z-index: 9999;
}

.nombreespecies{
    font-style:italic;
    text-transform: capitalize;
}
